* {
  /* border-box: width, height include padding size */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}
body > #root > div {
  display: flex;
  height: 100vh;
}
.message-container {
  display: flex !important;
  width: 100% !important;
  height: 100px !important;
  max-height: 500px;
}

/* .loading {
  display: flex;
  margin: auto;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 50px !important; */
/* } */
